@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
:root{
  --primary:3, 15, 36;
  --secondary:230, 243, 255;
  --accent:245, 135, 10;
}
 
*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

nav{
  position: fixed;
  top:0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap:1em;
  background:rgb(var(--secondary));
  color: rgb(var(--primary));
  text-transform: uppercase;
  font-weight: 600;
  width: 100vw;
  height: 15.5vh;
}
nav > .nav-item{
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  transition: all .5s ease-in-out;
}
nav > .nav-item:hover{
background: rgba(var(--primary),0.1);
}
nav > .search:hover{
  outline: none;
  background: transparent;
}
nav > .nav-item> input:focus{
  outline: none;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 3em;
  margin-right: auto;
  gap: 0;
}
.logo:hover{
  background: transparent !important;
}
.logo span{
  color: rgb(var(--accent));
  font-size: 1.5em;
  font-weight: 900;
  transition: font-size .5s ease-in-out;
}
.logo:hover span{
  font-size: 1.7em;
}
.search > input{
  border: none;
  padding: .5em;
  border-radius: 7px;
}
main{
  margin-top: 15.5vh;
}
.sidebar{
  height: 84.5vh;
  width: 18vw;
  position: fixed;
  padding: 1% 0;
  left: 0;
  background: rgb(var(--secondary));
  color: rgb(var(--primary));
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
}
.sidebar-item{
  padding: 5% 0 5% 7%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5em;
  text-transform: capitalize;
  font-size: 1.3em;
  font-weight: 400;
  text-align: left;
  transition: background 0.5s ease-in-out;
  cursor: pointer;
}
.sidebar-item> i{
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-item:hover{
  background: rgba(var(--primary),0.1);
}

.container>div{
  display: flex;
  justify-content:center;
  flex-direction: column;
  gap: 1em;
  width: 82vw;
  min-height: 84.5vh;
  padding: 5em;
  margin-left: 18vw;
  background: rgb(var(--primary));
}
.container>div>.title>h2{
  font-size: 4rem;
  font-weight: 500 !important;
  color:rgb(var(--secondary)) ;
  display: flex;
  align-items: flex-end;
  gap:0;
}
.container>div>.title>h1{
  font-size: 8rem;
  font-weight: 500 !important;
  color:rgb(var(--accent)) ;
}
.container>div>.title>h1>div{
  display: inline-flex;
  font-size: 1.1em;
  font-weight: 500 !important;
  color:rgb(var(--secondary)) ;
  transform: rotate(6deg);
  transition: transform .5s ease-in-out;
}
.container>div>.title:hover>h1>div{
  transform: rotate(-6deg);
}
.hero-icon{
  width: 12%;
  position: absolute;
  bottom:20% ;
  right: 4%;
  animation: float 3s infinite cubic-bezier(0.39, 0.575, 0.565, 1) ;
}
.hero-icon>{
  pointer-events: none;
}

.hero-buttons-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1%;
}

.hero-buttons-container>button{
  padding: 1% 5%;
  font-size: 2em;
  text-transform: capitalize;
  outline: none;
  box-shadow: none;
  border: none;
  border-radius: 2px;
  background: rgb(var(--secondary));
  color: rgb(var(--primary));
  font-weight: 600;
  transition: all .5s ease-in-out;
  cursor: pointer;
}
.hero-buttons-container>button:nth-child(2){
  border: 2px solid rgb(var(--accent));
  background: transparent;
  color: rgb(var(--secondary));
}
.hero-buttons-container>button:nth-child(1):hover{
  background: rgb(var(--accent));
  color: rgb(var(--primary));
}
.hero-buttons-container>button:nth-child(2):hover{
  border: 2px solid rgb(var(--accent));
  background: rgb(var(--accent));
  color: rgb(var(--primary));
}

@keyframes float{
  0%{
    transform: translateY(5%);
  }
  50%{
    transform: translateY(-10%);
  }
  100%{
    transform: translateY(5%);
  }
}